{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
My message board
{% endblock %}
{% block head %}
{{super()}}
<style type="text/css">
.mboard_content {
	color: red;
	font-size: 20px;
}
.mboard_p{
    color:blue;
    font-size:18px;
}
</style>
{% endblock %}


{% block content %}
<div class="container mboard_p">
<p>欢迎你，{{ name }}！</p>
</div>
<div class="container">
{{ wtf.quick_form(subform) }}
</div>
<div class="container">
<p><b>当前共有 <span style="font-size:20;color: red;">{{num}}</span> 条留言</b> <b>  💪加油</b></p>
{% for x in num_list %}
<hr>

<div>
{{ message[x][3] }}    {{ message[x][1] }}
</div>
<div class="mboard_content">
{{message[x][2]}}
</div>
    <button style="float: right;margin-top: -15px;"><a href="mboard.html" style="text-decoration: None;">删除此条</a></button>
{% endfor %}


</div>
{% endblock %}